{% extends "base.html" %}
{% block title %}Agregar al carrito{% endblock %}

{% block content %}


{% if Flag %}
<table class="table table-stripped">
	<th class="table-primary"><center><h4><strong>Nombre</strong></h4></center></th>
	<th class="table-primary"><h4><strong>Descripcion</strong></h4></th>
	<th class="table-primary"><center><h4><strong>Precio</strong></h4></center></th>
	<th class="table-primary"><center><h4><strong>Imagen</strong></h4></center></th>
	<th class="table-primary"><center><strong><h4>Accion</h4></strong></center></th>
	{% for producto in queryPRODUCTOS %}
		<tr>
			<td><center><h3>{{ producto.name }}</h3></center></td>
			<td><h4>{{ producto.content }}</h4></td>
			<td><center><h2>${{ producto.precio }} Dlls</h2></center></td>
			<td><center><img src="{{ producto.photo.url }}" width="200" height="200" alt="{{ producto.name }}"></center></td>
			<td><center><h4><p><a href="{% url 'eshop_app:quitarcarrito' producto.id %}">Quitar del Carrito</a></p></h4></center></td>


		</tr>


	{% endfor %}


</table>
<br>
<div>
<h3 style="text-align:right;">{{lol}} {{message}} &nbsp;&nbsp; </h3>
&nbsp;&nbsp;<a href="{% url 'eshop_app:index'%}" class="btn btn-primary">Seguir Comprando</a>&nbsp;&nbsp;
{% if request.user.is_authenticated %}
<a href="{% url 'eshop_app:comprar' %}" class="btn btn-success">Proceder a compra</a>
{% else %}
<br>
<h3>Debe iniciar sesion antes de proceder con su compra.</h3>
{% endif %}
</div>
<br>
<br>



	



{% else %}
<center>
	<br>
	<br>
	<br>
	<br>
	<h1>{{message}}</h1>
</center>
	
{% endif %}

<table class="table table-stripped">
		<th class="table-dark">&nbsp;</th>
	</table>
{% endblock %}