{% extends "base.html" %}
{% block title %}Productos Comprados{% endblock %}

{% block content %}

	{% if Flag %}
	<table class="table table-stripped">
		<th class="table-primary"><center><h4><strong>Nombre</strong></h4></center></th>
		<th class="table-primary"><h4><strong>Descripcion</strong></h4></th>
		<th class="table-primary"><center><h4><strong>Precio</strong></h4></center></th>
		<th class="table-primary"><center><h4><strong>Fecha de compra</strong></h4></center></th>
		<th class="table-primary"><center><h4><strong>Imagen</strong></h4></center></th>
		{% for obj in prodcomp %}
			<tr>
				<td><center><h3>{{ obj.producto.name }}</h3></center></td>
				<td><h4>{{ obj.producto.content }}</h4></td>
				<td><center><h2>${{ obj.producto.precio }} Dlls</h2></center></td>
				<td><center><h2>{{obj.timestamp}}</h2></center></td>
				<td><center><img src="{{ obj.producto.photo.url }}" width="200" height="200" alt="{{ obj.producto.name }}"></center></td>



			</tr>


		{% endfor %}


	</table>


	



{% else %}
<center>
	<br>
	<br>
	<br>
	<br>
	<h1>{{message}}</h1>
</center>
	
{% endif %}

<table class="table table-stripped">
		<th class="table-dark">&nbsp;</th>
	</table>
{% endblock %}